.rect {
	width: 100%;
	height: 200px;
	background-color: yellow
	}

.rect-big {
	width: 100%;
	height: 450px;
	background-color: yellow
	}
	
.rect-white {
	width: 100%;
	height: 250px;
	background-color: white
	}
	
.rect-green {
	width: 100%;
	height: 200px;
	background-color: green
	}