
.big {
	font-size: 24px;
}

.light {
	background-color: blue;
	color: white;
}

.best {
	border-color: yellow;
	border-width: 3px;
	border-radius: 24px;
}

.clip {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 24px;
	padding-right: 24px;
}